name: Run Cypress tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Vérification de l'arborescence des fichiers
        run: |
          pwd
          ls -la

      - name: Installer les dépendances système
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk2.0-0 libgdk-pixbuf2.0-0 libxss1 libasound2-dev

      - name: Installer les dépendances npm
        run: |
          npm install --verbose

      - name: Lancer les tests Cypress
        run: npm test
