name: Run Cypress tests

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Vérification de l'arborescence des fichiers
        run: |
          pwd
          ls -la

      - name: Installer les dépendances système
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk2.0-0 libgdk-pixbuf2.0-0 libxss1 libasound2-dev

      - name: Nettoyer le cache npm
        run: |
          npm cache clean --force

      - name: Installer les dépendances npm
        run: |
          npm install --verbose

      - name: Ajouter le cache Cypress
        uses: actions/cache@v3
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-cypress-

      - name: Forcer l'installation du binaire Cypress
        run: |
          npx cypress install --force

      - name: Lancer les tests Cypress
        run: |
          npx cypress run
