name: Run Cypress tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Vérification de l'arborescence des fichiers
        run: |
          pwd
          ls -la

      - name: Installer les dépendances système
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk2.0-0 libgdk-pixbuf2.0-0 libxss1 libasound2-dev

      - name: Installer les dépendances npm
        run: |
          npm install --verbose

      - name: Nettoyer le cache npm
        run: |
          npm cache clean --force
        # Nettoie le cache npm pour éviter d'éventuels conflits avec Cypress

      - name: Supprimer le cache Cypress précédent
        run: |
          rm -rf ~/.cache/Cypress
        # Supprime le cache Cypress s'il existe déjà

      - name: Réinstaller Cypress
        run: |
          npx cypress install
        # Cette commande télécharge et installe le binaire Cypress

      - name: Vérification des permissions sur le cache Cypress
        run: |
          sudo chmod -R +x ~/.cache/Cypress
        # Applique les bonnes permissions sur le cache Cypress

      - name: Lancer les tests Cypress
        run: |
          npm test
