name: Cypress Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 'lts/*'

    - name: Install dependencies
      run: |
        cd medibook-tests  # Accède au dossier du projet
        npm ci

    - name: Install Cypress
      run: |
        cd medibook-tests/cypress  # Accède au dossier cypress
        npm install cypress

    - name: Start Medibook Docker Services
      run: |
        cd medibook-tests  # Retourner dans le répertoire racine du projet
        docker-compose -f medibook/docker-compose.yml up -d --build

    - name: Run Cypress Tests
      run: |
        cd medibook-tests/cypress  # Accéder au dossier cypress pour exécuter Cypress
        npx cypress run

    - name: Upload Cypress Results
      uses: actions/upload-artifact@v3
      with:
        name: cypress-report
        path: medibook-tests/cypress/results/
        retention-days: 30
