name: Cypress Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: |
          cd medibook-tests   # Change to the directory where package.json is located
          npm ci

      - name: Run Cypress tests
        run: |
          cd medibook-tests   # Make sure to be in the correct folder
          npx cypress run --headless --record --key YOUR_PROJECT_KEY
