name: Cypress Tests

on:
  push:
    branches: [ main, master ]
  
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    
    steps:
    # Étape 1 : Vérifie le code source du projet
    - uses: actions/checkout@v4

    # Étape 2 : Configuration de Node.js
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    # Étape 3 : Installation des dépendances
    - name: Install dependencies
      run: |
        # Vérifier si cypress est bien dans le dossier racine du repo
        if [ ! -d "cypress" ]; then
          echo "Le répertoire 'cypress' est manquant !";
          exit 1;
        fi
        cd cypress
        npm ci

    # Étape 4 : Démarrer les services Docker (si nécessaire pour l'application)
    - name: Start Medibook Docker Services
      run: docker-compose -f medibook/docker-compose.yml up -d --build

    # Étape 5 : Exécuter les tests Cypress
    - name: Run Cypress tests
      run: |
        cd cypress
        npx cypress run

    # Ét
